.signup__text{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px;
    text-align: center;
}

.signup__text p{
    margin-bottom:10px ;
}

.signup__fb{
    
}
.signup__fb img{
    margin-right: 10px;
}