body{
    background-color: #fafafa;
}

.main-content__container{
    max-width: 975px;
    padding: 0 20px;
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    position: relative;
}

.main-content__side{
    max-width: 358px;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 60vw;
}
.sidebar__container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar__profilePic{
    min-width: 60px;
    min-height: 60px;
    margin-right: 10px;
}
.sidebar__info{
    margin-left: 10px;

}

.sidebar__info--switch{
    margin-left: 60px;
    font-weight: bolder;
    color: #0095f6;
}

.suggestions__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.suggestion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}
.suggestion__edit{
    font-weight: bold;
    font-size: 14px;
    color: #8e8e8e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width:100%;
    margin-bottom: 30px;
}
.suggestions__profilePic{
    min-width: 45px;
    min-height: 45px;
    margin-right: 10px;
}
.suggestions__info{
    margin-left: 15px;
}

.suggestions__info--follow{
    margin-left: 60px;
    font-weight: bolder;
    color: #0095f6;
}
.suggestions__info--seeAll{
    font-size: 12px;
    font-weight: bolder;
    color: #2e2e2e;
}

@media screen and (max-width:999px) {
    .main-content__side{
        display: none;
    }
    .main-content__container {
        max-width: 975px;
        padding: 0 20px;
        width: 100%;
        margin: 100px auto 0 auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
}